{
    "Rules": [
        {
            "ApplyServerSideEncryptionByDefault": {
                "SSEAlgorithm": "AES256"|"aws:kms",
                "KMSMasterKeyID": "{{ kms_key_id }}"
            }
        }
    ]
}