---

filebeat:
  prospectors:
    -
      paths:
{% for log_path_regex in item.paths|default([]) %}
        - {{ log_path_regex }}
{% endfor %}
      encoding: utf-8
      input_type: log
      multiline:
        pattern: ^\[
        negate: false
        match: after
        max_lines: 500
        timeout: 5s

output:

  elasticsearch:
    hosts: ["{{ elastic_beats.config.es_server|default('monitoring') }}:9200"]

    template:
      name: "filebeat"
      path: "/etc/filebeat/filebeat.template.json"
      overwrite: true

tags: [ "{{ opg_role + ', ' + target }}" ]


logging:
  to_syslog: false
  to_files: true
  files:
    path: /var/log/beats
    name: filebeat
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 7
  level: info
